html, body {
  margin: 0;
  padding: 0;
  font-family: "Comic Mono";
}

#main-content {
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

#title {
  font-size: 42px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

header > h2, i {
  font-size: 36px;
  cursor: pointer;
}

#tutorial-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: sticky;
  height: 100%;
  z-index: 1;
}

.tutorial-header {
  padding: 0 10px;
}

.close {
  float: right;
  font-size: 32px;
}

.close:hover {
  cursor: pointer;
  color: red;
}

main {
  display: grid;
  padding: 0 20px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

/* Main screen left side*/
.category-container {
  display: flex;
  flex-wrap: wrap;
}

.category-container > label > i {
  padding-right: 15px;
}

#search {
  font-size: 20px;
  flex: 1;
}

#selection-box {
  width: 100%;
  margin-top: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

.opt-container {
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

.category-opt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(245, 245, 245);
  padding: 0 5px;
  /* width: 100; */
  border: 2px solid black
}

.category-add-btn {
  border: none;
}

.category-add-btn > i {
  font-size: 2rem;
}

/* Main screen right side*/