body {
  margin: 0 0 0 0;
  font-family: "Comic Mono";
}

#title {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 20px;
  border: 2px solid black;
}

.break {
  width: 100%;
  height: 0;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 25px 150px;
  place-content: center;
  width: 100%;
}

.options > button {
  font-size: 2rem;
  font-family: "Comic Mono";
  line-height: 50px;
}

